# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.vcxproj
*.suo
*.filters
*.stdafx.h
*.stdafx.cpp
*targetver.h
*.db
*pch.h
*pch.cpps
*.idb
*.log
*.user
*.1.log
*.ipch
*stdafx.h

*CL.write.1.tlog
*CL.read.1.tlog
*link.write.1.tlog
*link.read.1.tlog
*ilk
*vc141.pdb

*pch.cpp
.vs/GeeksForGeeks/v15/Browse.VC.opendb
.vs/GeeksForGeeks/v15/Solution.VC.db-shm
.vs/GeeksForGeeks/v15/Solution.VC.db-wal
AddTwoFractions/Debug/AddTwoFractions.tlog/CL.command.1.tlog
AddTwoFractions/Debug/AddTwoFractions.tlog/AddTwoFractions.lastbuildstate

*link.command.1.tlog
*pdb
*lastbuildstate
*tlog
*stdafx.cpp
/.vs/GeeksForGeeks/v16/Preview
/.vs
*.sdf
*.opensdf
